* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--purple: rgb(135, 117, 216);
}

body {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
}

.container {
	width: 100%;
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 25px;
	border: 1px solid var(--purple);
	border-radius: 8px;
}

.container h1 {
	padding-bottom: 10px;
	border-bottom: 1px solid var(--purple);
	padding: 15px;
	margin-bottom: 15px;
	color: var(--purple);
}

.currency {
	width: 100px;
	padding: 2px;
	margin: 5px;
}

.currency,
select {
	border: 1px solid var(--purple);
	border-radius: 3px;
}